h1{
    color:rgba(131, 27, 27, 0.77);
    font-size:55px;
    
    font-family:sans-serif;

}
h2{
    color:cornflowerblue;
    font-size: 45px;
    font-family:cursive;
    
    
}





)

.alpha-text{}



